loguru:
  main:
    sink: './log/lccn_predictor_main.log'
    level: INFO
    rotation: 'saturday at 12:00'
  api:
    sink: './log/api/lccn_predictor_api.log'
    level: INFO
    rotation: '00:00'
mongodb:
  ip: "@lccncluster.t1nvs4d.mongodb.net"
  port: 27017
  username: 'paramsri_0206'
  password: 'Parag@123'
  db: dblccn
fastapi:
  CORS_allow_origins:
    - "http://localhost:3000"
    - "https://lccn.lbao.site"
